<div class="below-slideshow">
          <div class="container" style = "max-height: 900px;">
         <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <div class="txt-block">
                  <h1 class="head-line">{{ headline }}</h1>
                       </div>
             </div>
         </div>

     </div>
     </div>

     <div class="container">
       <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="tag-home">{{ subtitle }}</h1>
              <hr />
                </div>
           </div>
         </div>
    <!-- TAG HOME SECTION END-->



<div class="container " >
<div class="row">
<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-12 set-div">
   <div class="just-txt-div text-align">
       <h3><strong></strong> </h3>
       <ul>
           <li>
               <p>{{ titleOne }}</p>
           </li>
           <p>{{ paragraphOne }}</p>
       </ul>

      <h3><strong></strong> </h3>
       <ul>
           <li>
               <p>{{ titleTwo }}</p>
           </li>
           <p>{{ paragraphTwo }}</p>
       </ul>

       <h3><strong></strong> </h3>
       <ul>
           <li>
               <p>{{ titleThree }}</p>
           </li>
           <p>{{ paragraphThree }}</p>
       </ul>


        <!-- beautiful button -->
         <!-- <a class="btn btn-info btn-lg" href="#">Read More Here</a> -->
       <!-- &nbsp;&nbsp; -->
       <!-- <a class="btn btn-success btn-lg" href="#">Download Now </a> -->
   </div>

   </div>
</div>
</div>
<div class="footer-sec">
         <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">


                  <h3> <strong>{{ about }}</strong> </h3>
                  <!-- <p style="padding-right:50px;" >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
                  </p> -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 social-div">



                    <h3> <strong>{{ social }}</strong> </h3>
               <!--  We love to be social,Catch Us On
                <a href="#" ><h4>FACEBOOK </h4></a>
                   <a href="#" ><h4>TWITTER </h4></a>
                 <a href="#" ><h4>LINKEDIN </h4></a>
                   -->

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h3> <strong>{{ location }}</strong> </h3>
               <!--  Reach Us Below:
                <br />
                <h4>90/567, Raw Street Lane,</h4>
                 <h4>United States of America,</h4>
                 <h4>Pin: 309987-09</h4>
            </div> -->
        </div>
 <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
                <div style="text-align:right;padding:5px;">
                    &copy;2017  Cornell Tech <a href="http://www.binarytheme.com/" style="color:#fff;" target="_blank" > </a>
                </div>
            </div>
    </div>
    </div>
       </div>
     <!--FOOTER SECTION END-->
      <!-- WE PUT SCRIPTS AT THE END TO LOAD PAGE FASTER-->

  <!--CORE SCRIPTS PLUGIN-->
    <script src="assets/js/jquery-1.11.1.min.js"></script>
     <!--BOOTSTRAP SCRIPTS PLUGIN-->
    <script src="assets/js/bootstrap.js"></script>
     <!--WOW SCRIPTS PLUGIN-->
    <script src="assets/js/wow.js"></script>
     <!--FLEXSLIDER SCRIPTS PLUGIN-->
    <script src="assets/js/jquery.flexslider.js"></script>
     <!--PRETTY PHOTO FOR GALLERY -->
    <script src="assets/js/jquery.prettyPhoto.js"></script>
     <!--PHOTO FILTER -->
    <script src="assets/js/jquery.mixitup.min.js"></script>
     <!--CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>