
<div class="row">
    <div class="col-md-4">
		<h3> <strong>The Arab American Family Support Center, Inc/Tamkeen</strong> </h3>
		<p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4 ">
		<h3> <strong>Barrier Free Living</strong> </h3>
          <p style="padding-right:50px;" >
            Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4">
          <h3> <strong>Bronx County District Attorney's Office</strong> </h3>
          <p style="padding-right:50px;" >
            Description
          </p>
          <a href="#" ><h4>More>></h4></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
		<h3> <strong>CAMBA</strong> </h3>
		<p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4">
		<h3> <strong>Center Against Domestic Violence</strong> </h3>
          <p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4">
         <h3> <strong>Day One</strong> </h3>
         <p style="padding-right:50px;" >Description </p>
          <a href="#" ><h4>More>></h4></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
		<h3> <strong>The Financial Clinic</strong> </h3>
		<p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4">
		<h3> <strong>Garden of Hope</strong> </h3>
        <p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4">
         <h3> <strong>Good Shepherd Services Safe Homes Project</strong> </h3>
         <p style="padding-right:50px;" > Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
		<h3> <strong>Her Justice</strong> </h3>
		<p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4">
		<h3> <strong>Jewish Association Serving the Aging</strong> </h3>
        <p style="padding-right:50px;" > Description </p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4">
        <h3> <strong>Jewish Board of Family and Children's Services</strong> </h3>
        <p style="padding-right:50px;" >Description
          </p>
          <a href="#" ><h4>More>></h4></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
		<h3> <strong>Kings County District Attorney's Office</strong> </h3>
		<p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4">
		<h3> <strong>Korean American Family Service Center</strong> </h3>
         <p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4">
          <h3> <strong>Legal Services NYC - Bronx</strong> </h3>
          <p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3> <strong>Manhattan Legal Service NYC</strong> </h3>
        <p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4 ">
        <h3> <strong>Metropolitan Council on Jewish Poverty</strong> </h3>
        <p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4">
          <h3> <strong>Mount Sinai Sexual Assault & Violence Intervention Program</strong> </h3>
          <p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3> <strong>New York Asian Women's Center</strong> </h3>
        <p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>
    <div class="col-md-4">
        <h3> <strong>New York City Anti-Violence Project</strong> </h3>
        <p style="padding-right:50px;" >Description</p>
          <a href="#" ><h4>More>></h4></a>
    </div>

</div>