    <div class="below-slideshow">
         <div class="container" style="max-height: 95px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="txt-block">
                  <h1 class="head-line">{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
    </div>
    
<div class="row">
    <div class="col-md-4">
		<h3> <strong> {{ arab }} </strong> </h3>
		<p style="padding-right:50px;" >{{ desciption_1 }}</p>
          <a href="http://www.aafscny.org" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4 ">
		<h3> <strong>{{ barrier }}</strong> </h3>
          <p style="padding-right:50px;" >{{ desciption_2 }}</p>
          <a href="https://www.bflnyc.org" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4">
          <h3> <strong> Bronx County District Attorney's Office </strong> </h3>
          <p style="padding-right:50px;" > {{ desciption_3 }} </p>
          <a href="http://bronxda.nyc.gov/html/home/home.shtml" target="_blank" >{{ more }}>></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
		<h3> <strong>{{ camba }}</strong> </h3>
		<p style="padding-right:50px;" >{{ desciption_4 }}</p>
          <a href="https://www.camba.org" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4">
		<h3> <strong>{{ center }}</strong> </h3>
          <p style="padding-right:50px;" >{{ desciption_5 }}</p>
          <a href="http://www.cadvny.org" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4">
         <h3> <strong> {{day}}</strong> </h3>
         <p style="padding-right:50px;" > {{ desciption_6 }} </p>
          <a href="https://www.dayoneny.org" target="_blank">{{ more }}>></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
		<h3> <strong>{{ clinic }}</strong> </h3>
		<p style="padding-right:50px;" > {{ desciption_7 }}</p>
          <a href="https://thefinancialclinic.org" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4">
		<h3> <strong>{{ garden }}</strong> </h3>
        <p style="padding-right:50px;" >{{ desciption_8 }}</p>
          <a href="http://www.gohny.org" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4">
         <h3> <strong>{{ shepard }}</strong> </h3>
         <p style="padding-right:50px;" > {{ desciption_9 }}</p>
          <a href="https://goodshepherds.org/program/safe-homes/" target="_blank" >{{ more }}>></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
		<h3> <strong>{{ her }}</strong> </h3>
		<p style="padding-right:50px;" >{{ desciption_10 }}</p>
          <a href="http://www.herjustice.org" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4">
		<h3> <strong> {{ jewishAssociation }}</strong> </h3>
        <p style="padding-right:50px;" > {{ desciption_11 }} </p>
          <a href="http://www.jasa.org" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4">
        <h3> <strong>{{ jewishBoard }}</strong> </h3>
        <p style="padding-right:50px;" >{{ desciption_12 }} </p>
          <a href="https://jewishboard.org" target="_blank" >{{ more }}>></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
		<h3> <strong>{{ kingsCounty }}</strong> </h3>
		<p style="padding-right:50px;" >{{ desciption_13 }}</p>
          <a href="http://www.brooklynda.org" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4">
		<h3> <strong>{{ korean }}</strong> </h3>
         <p style="padding-right:50px;" >{{ desciption_14 }}</p>
          <a href="http://kafsc.org" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4">
          <h3> <strong> {{ bronxLegal }}</strong> </h3>
          <p style="padding-right:50px;" >{{ desciption_15 }}</p>
          <a href="http://www.legalservicesnyc.org/our-program/bronx" target="_blank" >{{ more }}>></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3> <strong>{{ manhattanLegal }}</strong> </h3>
        <p style="padding-right:50px;" >{{ desciption_16 }}</p>
          <a href="http://www.legalservicesnyc.org/our-program/manhattan" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4 ">
        <h3> <strong>{{ metropolitan }}</strong> </h3>
        <p style="padding-right:50px;" >{{ desciption_17 }}</p>
          <a href="http://www.metcouncil.org/site/PageServer" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4">
          <h3> <strong> {{ mountSinai }} </strong> </h3>
          <p style="padding-right:50px;" >{{ desciption_18 }}</p>
          <a href="http://www.mountsinai.org/patient-care/service-areas/community-medicine/areas-of-care/sexual-assault-and-violence-intervention-program-savi" target="_blank" >{{ more }}>></a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3> <strong>{{ nyAsian }}</strong> </h3>
        <p style="padding-right:50px;" >{{ desciption_19 }}</p>
          <a href="https://www.iamwomankind.org" target="_blank" >{{ more }}>></a>
    </div>
    <div class="col-md-4">
        <h3> <strong>{{ nycAntiViolence}}</strong> </h3>
        <p style="padding-right:50px;" >{{ desciption_20 }}</p>
        <a href="https://avp.org" target="_blank" >{{ more }}>></a>
    </div>

</div>

               <!--  Reach Us Below:
                <br />
                <h4>90/567, Raw Street Lane,</h4>
                 <h4>United States of America,</h4>
                 <h4>Pin: 309987-09</h4>
            </div> -->
       
 <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
                <div style="text-align:right;padding:5px;">
                    &copy;2017  Cornell Tech <a href="http://www.binarytheme.com/" style="color:#fff;" target="_blank" > </a>
                </div>
            </div>
    </div>

<!--FOOTER SECTION END-->
<!-- WE PUT SCRIPTS AT THE END TO LOAD PAGE FASTER-->
<!--CORE SCRIPTS PLUGIN-->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<!--BOOTSTRAP SCRIPTS PLUGIN-->
<script src="assets/js/bootstrap.js"></script>
<!--WOW SCRIPTS PLUGIN-->
<script src="assets/js/wow.js"></script>
<!--FLEXSLIDER SCRIPTS PLUGIN-->
<script src="assets/js/jquery.flexslider.js"></script>
<!--CUSTOM SCRIPTS -->
<script src="assets/js/custom.js"></script>
