<!-- MENU SECTION END-->
     <div class="below-slideshow">
          <div class="container">
         <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <div class="txt-block">
                  <h1 class="head-line">Tech Safety Tips</h1>
                       </div>
             </div>
         </div>

     </div>
     </div>

     <div class= "container">
       <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="tag-home">Learn how to use your tech Safely</h1>
              <hr />
              </div>
                </div>
           </div>
       
    <!-- TAG HOME SECTION END-->
<div class="container " >
<div class="row">
<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-12 set-div">
     <div class="just-txt-div text-align">
<h1><strong>- Internet -</strong> </h1>
<ul>
     <li>
         <p>Clear your browsing history so you cannot be tracked.</p>
         <ul>
             <li><p><a href="http://www.wikihow.com/Clear-History-on-an-iPhone" target="_blank">Clear Browsing History on iPhone</a></p></li>
             <li><p><a href="http://www.wikihow.tech/Delete-History-on-Android-Device" target="_blank">Clear Browsing History on Android</a></p></li>
         </ul>
     </li>
     <li>
         <p>Set your internet browser to “Private” mode to prevent tracking of your history.</p>
         <ul>
             <li><p><a href="https://support.apple.com/en-us/HT203036" target= "_blank">Set Private Mode on iPhone</a></p></li>
             <li><p><a href="http://www.guidingtech.com/10985/ways-to-achieve-private-browsing-on-android/" target="_blank">Set Private Mode on Android</a></p></li>
         </ul>
     </li>
 </ul>

 <h1><strong>- Password Security -</strong> </h1>
 <ul>
     <li>
         <p>It’s important to keep your password secret.</p></li>
     <li><p>Change it immediately if your partner knows your password.</p></li>
     <li><p>Don’t use personal information when setting your password (ex. Birthday, children’s names)</p></li>
     <ul>
         <li><p><a href="http://www.wikihow.com/Create-a-Secure-Password" target="_blank" >Set a Secure Password</a></p></li>
     </ul>
 </ul>

 <h1><strong>- Socia Media -</strong> </h1>
 <ul>
     <li>
         <p>Anything posted on any social media network is viewable by the public and once posted, can be tracked.</p>
     </li>
     <li>
         <p>How to Block Users on Facebook: Log into your account. Click on the privacy icon in the top right hand corner of the page. On the main privacy settings page, you can block specific users from seeing your profile or only allow them to see part of it.</p>
     </li>
 </ul>

 <h1><strong>- Location Tracking -</strong> </h1>
 <ul>
     <li>
         <p>Never leave your phone location services (GPS) turned on if you are worried about being tracked by your partner.</p>
         <ul>
             <li><p><a href="http://www.wikihow.com/Turn-off-GPS-on-the-iPhone" target="_blank">How to Turn off GPS on iPhone</a></p></li>
             <li><p><a href="http://www.wikihow.tech/Turn-Gps-off-on-Android" target="_blank">How to Turn off GPS on Android</a></p></li>
         </ul>
     </li>
 </ul>
        </div>
            </div>
            </div>
</div>


<div class="footer-sec">
         <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">


                  <h3> <strong>ABOUT COMPANY</strong> </h3>
                  <!-- <p style="padding-right:50px;" >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
                  </p> -->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 social-div">



                    <h3> <strong>SOCIAL PRESENCE</strong> </h3>
               <!--  We love to be social,Catch Us On
                <a href="#" ><h4>FACEBOOK </h4></a>
                   <a href="#" ><h4>TWITTER </h4></a>
                 <a href="#" ><h4>LINKEDIN </h4></a>
                   -->

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h3> <strong>PHYSICAL LOCATION</strong> </h3>
               <!--  Reach Us Below:
                <br />
                <h4>90/567, Raw Street Lane,</h4>
                 <h4>United States of America,</h4>
                 <h4>Pin: 309987-09</h4>
            </div> -->
        </div>
 <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
                <div style="text-align:right;padding:5px;">
                    &copy;2017  Cornell Tech <a href="http://www.binarytheme.com/" style="color:#fff;" target="_blank" > </a>
                </div>
            </div>
    </div>
    </div>
        </div>
        </div>
<!--FOOTER SECTION END-->
<!-- WE PUT SCRIPTS AT THE END TO LOAD PAGE FASTER-->
<!--CORE SCRIPTS PLUGIN-->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<!--BOOTSTRAP SCRIPTS PLUGIN-->
<script src="assets/js/bootstrap.js"></script>
<!--WOW SCRIPTS PLUGIN-->
<script src="assets/js/wow.js"></script>
<!--FLEXSLIDER SCRIPTS PLUGIN-->
<script src="assets/js/jquery.flexslider.js"></script>
<!--CUSTOM SCRIPTS -->
<script src="assets/js/custom.js"></script>
                     
<script src="assets/js/jquery-1.11.1.min.js"></script>
 <!--BOOTSTRAP SCRIPTS PLUGIN-->
<script src="assets/js/bootstrap.js"></script>
 <!--WOW SCRIPTS PLUGIN-->
<script src="assets/js/wow.js"></script>
 <!--FLEXSLIDER SCRIPTS PLUGIN-->
<script src="assets/js/jquery.flexslider.js"></script>
 <!--CUSTOM SCRIPTS -->
<script src="assets/js/custom.js"></script>