<!-- MENU SECTION END-->
     <div class="below-slideshow">
          <div class="container">
         <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <div class="txt-block">
                  <h1 class="head-line">{{ title }}</h1>
                       </div>
             </div>
         </div>

     </div>
     </div>

     <div class= "container">
       <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="tag-home">{{ subtitle }}</h1>
              <hr />
              </div>
                </div>
           </div>
       
    <!-- TAG HOME SECTION END-->
<div class="container " >
<div class="row">
<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-12 set-div">
     <div class="just-txt-div text-align">
<h1><strong>- {{ internet }} -</strong> </h1>
<ul>
     <li>
         <p>{{ info_1 }}</p>
         <ul>
             <li><p><a href="http://www.wikihow.com/Clear-History-on-an-iPhone" target="_blank"> {{ iphone }}</a></p></li>
             <li><p><a href="http://www.wikihow.tech/Delete-History-on-Android-Device" target="_blank">{{ android }}</a></p></li>
         </ul>
     </li>
     <li>
         <p>{{ info_2 }}</p>
         <ul>
             <li><p><a href="https://support.apple.com/en-us/HT203036" target= "_blank">{{ iphone_2 }}</a></p></li>
             <li><p><a href="http://www.guidingtech.com/10985/ways-to-achieve-private-browsing-on-android/" target="_blank">{{ android_2 }}</a></p></li>
         </ul>
     </li>
 </ul>

 <h1><strong>- {{ password }} -</strong> </h1>
 <ul>
     <li><p>{{ line_1 }}</p></li>
     <li><p>{{ line_2 }}</p></li>
     <li><p>{{ line_3 }}</p></li>
     <ul>
         <li><p><a href="http://www.wikihow.com/Create-a-Secure-Password" target="_blank" >{{ line_4 }}</a></p></li>
     </ul>
 </ul>

 <h1><strong>- {{ social }} -</strong> </h1>
 <ul>
     <li>
         <p> {{ sline_1 }} </p>
     </li>
     <li>
         <p>{{ sline_2 }}</p>
     </li>
 </ul>

 <h1><strong>- {{ location }} -</strong> </h1>
 <ul>
     <li>
         <p>{{ lline_1 }}</p>
         <ul>
             <li><p><a href="http://www.wikihow.com/Turn-off-GPS-on-the-iPhone" target="_blank">{{ liphone }}</a></p></li>
             <li><p><a href="http://www.wikihow.tech/Turn-Gps-off-on-Android" target="_blank">{{ landroid }}</a></p></li>
         </ul>
     </li>
 </ul>
        </div>
            </div>
            </div>
</div>

 <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
                <div style="text-align:right;padding:5px;">
                    &copy;2017  Cornell Tech <a href="http://www.binarytheme.com/" style="color:#fff;" target="_blank" > </a>
                </div>
            </div>
    </div>
    
<!--FOOTER SECTION END-->
<!-- WE PUT SCRIPTS AT THE END TO LOAD PAGE FASTER-->
<!--CORE SCRIPTS PLUGIN-->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<!--BOOTSTRAP SCRIPTS PLUGIN-->
<script src="assets/js/bootstrap.js"></script>
<!--WOW SCRIPTS PLUGIN-->
<script src="assets/js/wow.js"></script>
<!--FLEXSLIDER SCRIPTS PLUGIN-->
<script src="assets/js/jquery.flexslider.js"></script>
<!--CUSTOM SCRIPTS -->
<script src="assets/js/custom.js"></script>
                     
<script src="assets/js/jquery-1.11.1.min.js"></script>
 <!--BOOTSTRAP SCRIPTS PLUGIN-->
<script src="assets/js/bootstrap.js"></script>
 <!--WOW SCRIPTS PLUGIN-->
<script src="assets/js/wow.js"></script>
 <!--FLEXSLIDER SCRIPTS PLUGIN-->
<script src="assets/js/jquery.flexslider.js"></script>
 <!--CUSTOM SCRIPTS -->
<script src="assets/js/custom.js"></script>