audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}a{background:transparent;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;max-width:100%;min-height:1%;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type=button],/* 1 */ input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;background:#FFF;}table{border-collapse:collapse;border-spacing:0;}#PublicSiteMap ul{list-style-type:none;font-size:1em;margin:0 0 0 20px;padding:0;}#PublicSiteMap ul.Past-Home{margin:0 0 0 20px;padding:0;}#PublicSiteMap ul li{line-height:normal;margin:15px 0;padding:0;}.Sub-Pages{list-style-type:none;}.resourceBlock ul{list-style-type:none;margin-left:0;}img,object,embed{max-width:100%;}div.c4{text-align:center;}.D1,.D2{float:left;margin:0 10px 5px 0;}.D5,.D6{float:right;margin:0 0 5px 10px;}ul.sitemapUL{margin-left:50px;}#M-Street{font-size:8px;color:#000;font-family:Geneva, Arial, Helvetica, sans-serif;text-align:center;padding:4px 0 0 4px;}#M-Street p{display:inline;margin:3px 0 0;}#M-Street a{padding-left:4px;}#M-Street img{padding-right:5px;}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary,.idDiv,#M-Street span{display:block;}[hidden],template,div.collapsed-wrapper,#Default #breadCrumbs,#Default .Bread{display:none;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}.container{margin:0 auto;}.container:after,.row:after,.col:after,.clr:after,.group:after{content:"";display:table;clear:both;}.row{padding-bottom:0;}.col{display:block;float:left;width:100%;}.social-share-wrapper.twitter_btn {margin-right: 10px;}@media ( min-width : 568px ) {.gutters .col {	margin-left: 2%;}.gutters .col:first-child { 	margin-left: 0; }}#breadCrumbs span{padding:0 5px;}.ResourceIcon{padding:0 5px 0 0;}.resourceBlock ul, .resourceBlock ul li{padding:0px;margin:0px;}.LegalLine{ display:block; font-size:.8em;}/*COLUMN WIDTH ON DISPLAYS +568px */ @media ( min-width : 568px ) {.span_1 { width: 4.16666666667%; }.span_2 { width: 8.33333333333%; }.span_3 { width:12.5%; }.span_4 { width: 16.6666666667%; }.span_5 { width: 20.8333333333%; }.span_6 { width: 25%; }.span_7 { width: 29.1666666667%; }.span_8 { width: 33.3333333333%; }.span_9 { width: 37.5%; }.span_10 { width: 41.6666666667%; }.span_11 { width: 45.8333333333%; }.span_12 { width: 50%; }.span_13 { width: 54.1666666667%; }.span_14 { width: 58.3333333333%; }.span_15 { width: 62.5%; }.span_16 { width: 66.6666666667%; }.span_17 { width: 70.8333333333%; }.span_18 { width: 75%; }.span_19 { width: 79.1666666667%; }.span_20 { width: 83.3333333333%; }.span_21 { width: 87.5%; }.span_22 { width: 91.6666666667%; }.span_23 { width: 95.8333333333%; }.span_24 { width: 100%; }.gutters .span_1 { width: 2.25%; }.gutters .span_2 { width: 6.5%; }.gutters .span_3 { width: 10.75%; }.gutters .span_4 { width: 15.0%; }.gutters .span_5 { width: 19.25%; }.gutters .span_6 { width: 23.5%; }.gutters .span_7 { width: 27.75%; }.gutters .span_8 { width: 32.0%; }.gutters .span_9 { width: 36.25%; }.gutters .span_10 { width: 40.5%; }.gutters .span_11 { width: 44.75%; }.gutters .span_12 { width: 49.0%; }.gutters .span_13 { width: 53.25%; }.gutters .span_14 { width: 57.5%; }.gutters .span_15 { width: 61.75%; }.gutters .span_16 { width: 66.0%; }.gutters .span_17 { width: 70.25%; }.gutters .span_18 { width: 74.5%; }.gutters .span_19 { width: 78.75%; }.gutters .span_20 { width: 83.0%; }.gutters .span_21 { width: 87.25%; }.gutters .span_22 { width: 91.5%; }.gutters .span_23 { width: 95.75%; }.gutters .span_24 { width: 100%; }}
body { 
 font-family: 
 color:#333;
 font-size: 12px;
 background: #fffffe url("/img/bg-skin-wrap.png") right top repeat-x; 
}

body.Pledge-To-End-Gender-Violence {
 background: #f4f4f4;
}
body.Pledge-To-End-Gender-Violence #Head{
display:none;
}


#wrapper {
}
#content {
}

#page_wrap{
}
#Head{
background:#6c2768;
}
#Head .row{
background:#FFF;
}
#MainNav{
background:#4a1a49;
}

body.Pledge-To-End-Gender-Violence #MainNav{
background:#000;
}

#Nav{
text-align:center;
}
.row {
 margin:0px auto;	;
}
.topLevel{
 width:1000px;
}



#Content .span_24{
background:#FFF;
}
body.Pledge-To-End-Gender-Violence #Content .span_24{
 background: none;
}

.ahomeNews{
 overflow:hidden;background:#d1e1f0;
 background: #d1e1f0 url("/img/Main-Background.jpg");
} 
.MainContent{
padding: 0 0px 0 20px;
}
.SideBar{
padding: 0 10px 0 0;
}
.bjqs img{
 border:1px solid #e2e2e2;
}h1,h2,h3,h4		{ font-family:Arial, Helvetica, sans-serif; color:#4a1a49; } /*looks cleaner to differntiate between body and header font family -Ali*/
h1              { font-size: 2em; margin: 0 0 .67em 0; }
h2              { font-size: 1.8em; margin: 0 0 .80em 0; }
h3              { font-size: 1.5em; margin: 0 0 .75em 0; }
h4              { font-size: 1.17em; margin: 0 0 .83em 0;}
p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: .12em 0 1.12em 0; }
h5              { font-size: .83em; margin: 1.5em 0 0 0;}
h6              { font-size: .75em; margin: 1.67em 0 0 0;}
h1, h2, h3, h4,
h5, h6, b, strong
         { font-weight: bolder; color: #6c2768;}

@media print {
  h1            { page-break-before: always; }
  h1, h2, h3,
  h4, h5, h6    { page-break-after: avoid }
  ul, ol, dl    { page-break-before: avoid }
}

body.Pledge-To-End-Gender-Violence h1, body.Pledge-To-End-Gender-Violence h2{
 color:#333333;
}


/*- Links--------------------------- */
A:link { text-decoration: underline; color: #0077c0;}
A:visited { text-decoration: underline; color: #0077c0;}
A:active { text-decoration: underline; color:#0077c0;}
A:hover { text-decoration: underline; color: #A39362;}

.innerTopNavigation A:link { text-decoration: underline; color: #FFF;}
.innerTopNavigation A:visited { text-decoration: underline; color: #FFF;}
.innerTopNavigation A:active { text-decoration: underline; color:#FFF;}
.innerTopNavigation A:hover { text-decoration: underline; color: #A39362;}

.innerTopMidNavigation A:link { text-decoration: underline; color: #d1e1f0;}
.innerTopMidNavigation A:visited { text-decoration: underline; color: #d1e1f0;}
.innerTopMidNavigation A:active { text-decoration: underline; color:#d1e1f0;}
.innerTopMidNavigation A:hover { text-decoration: underline; color: #A39362;}

cite{
font-size:.7em;
}



ol {list-style-type: decimal;padding-left:30px;}

#TopMidNavigation{
 margin:10px 0 0 0;
 text-align:right;
}
.innerTopMidNavigation ul{
 margin:0px;
}
.innerTopMidNavigation ul li{
 display:inline; padding-left:10px;
}
#TopNav{
margin:15px 0 0 0;
}

/*- Logo -*/

#Logo{
 background:#FFF;
 padding:20px 0px 20px 20px;
}

#Cart{
 color:white;
text-align:right;
padding-bottom:5px;
}

.innerTopNavigation p{
margin:15px 0 5px 0;
}

/*------------------------------------------------------------- */
#Alert{
 color:#FFF;
 margin:10px;
 background:#b7271f;
}

#Alert h1, #Alert h2{
 color:#FFF;
 padding:10px; 
 margin:0px;
}
#Alert p{
 font-size:1.4em;
 background:#FFF;
 color:#b7271f;
 display:inline-block;
 padding:10px; 
}
#Alert .hide-on-click{
 display:block;
text-align:right;
}
#Alert img{
 padding:10px 0 0 10px;
}


.BannerRow{
 background: url("/img/PCADV-Right.jpg") right top no-repeat;
}

/*- Banner -*/
#Banner{
 overflow:hidden;
padding-bottom:20px;
}

.innerBanner{
text-align:right;
}
.innerBanner h1{
}
.innerBanner h1 small{
}
.innerBanner h2{
 margin:0px;
 color:#d1e1f0;
 font-size:1.4em;
}
.innerBanner a{
 color:#d1e1f0;
}
.innerBanner h3{
}
.innerBanner h4{
}
.innerBanner h5{
}
.innerBanner p{
}
.innerBanner form{
margin-bottom:10px;
}
.innerBanner img{
margin:0px; padding:0px;
}
.innerBanner ul{
}
.innerBanner ul li{
 padding:0px 10px;
 display:inline;
}
.ContentContainer .row{
padding-top:20px;
}

/*- Announcements -*/
/*------------------------------------------------------------- */


#Announcements{
 clear:both;
 padding-left:10px;
 line-height:1.8em;
}
.innerAnnouncements{
 overflow:hidden;
 clear:left;
 border-bottom:1px dotted #333;
 padding:20px 0px;
}
.innerAnnouncements h2{
 padding:2px 0;
 margin:0;
 font-size:1.4em;
 line-height:1.2em;

 }

.innerAnnouncements h3{
 margin:0px;
 font-size:18px;
 line-height:27px;
}

.innerAnnouncements p{
 font-size: 14px;
 line-height:21px;
}
.innerAnnouncements img{
}
.innerAnnouncements ul{
 margin-left:40px;
}
.innerAnnouncements ul li{
 list-style-type:disc;
 padding-top:5px;
 font-size: 14px;
 line-height:21px;
 }
.innerAnnouncements A:link { text-decoration: underline; color: #6c2768;}
.innerAnnouncements A:visited { text-decoration: underline; color: #6c2768;}
.innerAnnouncements A:active { text-decoration: underline; color:#6c2768;}
.innerAnnouncements A:hover { text-decoration: underline; color: #A39362;}

/*- MainContent -*/
/*------------------------------------------------------------- */

#MainContent{
 overflow:hidden;
 background:#eaf3ff;
 margin-left:20px;
 padding: 10px;
}
.innerMainContent{
 overflow:hidden;
 clear:both;
 padding:0px 0px;
}
.innerMainContent h1, .innerMiddleBar h1{
 margin:0px;
}
.innerMainContent h2{
 margin-bottom:7px;
 font-family: "Arial Narrow", Arial, sans-serif;
 color: #6c2768;
 border-bottom: 1px solid #979797;
 padding-bottom: 5px;
}

.innerMainContent h3{
 margin-top: 7px;
}

.innerMainContent p{
 font-size: 14px;
 line-height:21px;
}
.innerMainContent{
 font-size: 14px;
 line-height:21px;
}
.innerMainContent img{
}
.innerMainContent ul, .innerMainContent ol{
 margin-left:40px;
}
.innerMainContent ul li{
 list-style-type:disc;
 padding-top:5px;
 font-size: 14px;
 line-height:21px;
 }
 .innerMainContent ol li{
 padding-top:5px;
 font-size: 14px;
 line-height:21px;
 }

#Default .innerMainContent{
 border-bottom:1px dotted #333;
 padding:20px 0px;
}
#Default .innerMainContent h2{
 margin:0px;
 font-size:1.4em;
 line-height:1.6em;
 }
#Default .innerMiddleBar h3{
 margin:0px;
 font-size:1.3em;
 line-height:1.2em;
 }

.Callout{
 background:#f1faff;
 height:1%;
 padding:20px;
 margin:10px 0;
}
.Callout p{
 font-size:1.4em;
 margin:0px;
}


/*------------------------------------------------------------- */
#Main {
 padding:10px 0 0 20px;
 font-size:1.35em;
 margin-bottom:0px;
}
 .innerMain h1{
 text-transform: uppercase;
 color: #6c2769;
}
.innerMain{
}

#Main1 {
 padding:10px 0;
}
innerMain h1{
 margin-top:10px;
 margin-bottom:0px;
 font-weight:bold;
 color:#4a1a49;
 font-size:1.6em; 
}
.innerMain h1 small{
 color: #6c2769;
 font-size:.55em;
 margin:0px;
 line-height:.25em;
}
/*------------------------ */

#Default #Main0{
}

#Default #Main {
 padding:10px 0 0 10px;
}
#Default #Main1 {
 padding:0px 0;
}

#Default .innerMain h1{
 margin:0px; padding:0px;
}


/*------------------------------------------------------------- */
#MainB {
 padding:10px 0 0 20px;
 margin-bottom:0px;
}
.innerMainB h2{
}
.innerMainB h3 {
}
/*------------------------ */



/*------------------------------------------------------------- */

.MemorialSpot img{
 width:100%;
}
.MemorialSpot h4{
 margin:0px;
 font-size:2.5em;
 font-family: "MV Boli","Brush Script MT",cursive;
 text-align:center;
}



/*------------------------------------------------------------- */
#MiddleBar{
 border:1px solid purple;
 clear:left;
 line-height:1.4em;
 margin-bottom:10px;
}
.innerMiddleBar {
 border-bottom:1px solid #e2e2e2;
 border-right:1px solid #e2e2e2;
 border-left:1px solid #e2e2e2;
 margin:4px;
 padding:10px;
 padding-top:20px;
 margin-bottom:10px;
 background: url(/img/spot/purpleline1.png) center -4px no-repeat;
}
#MiddleBar0{
 border:0px;
 padding:0px 10px;
 margin-top:10px;
 background: none;
}
#MiddleBar0 .postedDate{
 display:none;
}
#Default .innerMiddleBar h2{
 padding-top:20px;
 text-align:center;
 text-transform:uppercase;
 font-size:2.9em;
 margin:0px;
}
.innerMiddleBar img{
 margin-right:5px;
}
.MiddleBar .ArchiveLink{
 padding:0 4px 4px 0;
 text-align:right;
}
/*- TopSide -*/
/*------------------------------------------------------------- */
#TopSide{
 margin:0px 0px 0px 0;
 padding:0px 10px 0 10px;
}
#Default #TopSide{
 margin:0px 0px 0px 0;
 padding:0px 10px 0 10px;
}

.innerTopSide{
 margin:0px 0px 10px 0;
}

#TopSide0, #TopSide1{
 margin:0px 0px 10px 0;
}
#TopSide1{
 text-align:center;
}

#TopSide h2{
 font-size:2em;
 margin: 0px 0 0 0;
 font-weight: bold;
}

#TopSide h3{
 font-size:1.4em;
 margin: 0px 0 4px 0;
 font-weight: bold;
}

#TopSide0 h3{
font-size:2em;
text-transform:uppercase;
background: #6c2768;
color: white;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
padding: 10px;
text-align: center;
font-weight: bold;
}
#TopSide0 h3 a{
 color: white;
 text-decoration:none;
}


/*- SideBar -*/
/*------------------------------------------------------------- */
#SideBar{
 margin-right:0px;
}

.innerSideBar {
 clear:left;
 border-bottom:1px solid #e2e2e2;
 padding-bottom:10px;
 margin: 0px 0px 10px 10px;
}
#SideBar0{
 border-bottom:1px solid #e2e2e2;
 margin-top:0px;
 padding-bottom:10px;
}
.innerSideBar img{
}
.innerMiddleBar ul{
padding-left:25px;
}
.innerMiddleBar ul li{
}
.innerSideBar h2{
padding:0px;
margin:0px;
}
.innerSideBar h3{
padding:0px;
margin:0px;
}
.innerSideBar h1 a, .innerSideBar h2 a, .innerSideBar h3 a, .innerSideBar h4 a, .innerSideBar h5 a {
 color:purple;
}

/*- Links--------------------------- */
.innerSideBar h3 A:link { text-decoration: underline; color: purple;}
.innerSideBar h3 A:visited { text-decoration: underline; color: purple;}
.innerSideBar h3 A:active { text-decoration: underline; color:purple;}
.innerSideBar h3 A:hover { text-decoration: underline; color: #A39362;}


#SideBar h2{
}

.innerSideBar h2 small{
font-size:.8em;
padding:0px;
margin:0px;
}
.innerSideBar p{
 line-height:1.6em;
}
.innerSideBar ul{
 margin-left:0px;
}
.innerSideBar ul li{
 /*list-style-type:none;*/
 /*padding-top: 7px;*/
 /*font-size: 12px;*/
 /*line-height:18px;*/
}
/*- SideBar -*/
/*------------------------------------------------------------- */
#Default #SideBar{
 margin-left:0px;
 margin-right:0px;
}
#Default .innerSideBar {
 border-bottom:0px solid #e2e2e2;
 margin-top:0px;
 padding-bottom:10px;
}
#Default #SideBar0{
 padding-bottom:10px;
}



#SpotID_3508 {
 padding:0px 0px 10px 0px;
 margin-top:10px;
 background:  url("/img/Highlight-Box-Background-Domestic-Violence.jpg") left bottom no-repeat;
}
#SpotID_3508 h2{
font-size:2em;
 padding:10px 0 0 0;
 margin:0px;
 text-align:center;
 height:45px;
 background: url("/img/Highlight-Box-Background-Domestic-Violence.jpg") left top no-repeat;
}
#SpotID_3508 h2 a{
 color:#FFF;
}
#SpotID_3508 p{
 color:#FFF;
 padding:10px 0 10px 10px; 
}
#SpotID_3508 img{
 width:300px;
 padding:0px;
 margin:0px;
}


/*- FooterContent -*/
/*------------------------------------------------------------- */
#Footer {
 background:#2e2e2e  url("/img/Footer-Stretcher.jpg") center top;
 margin-top:20px;
 margin-bottom:20px;
 color:#000; font-size:.9em;
 padding-bottom:35px;
 clear: both;
 text-align: center;
}
#Footer .topLevel{
 background:#FFF  url("/img/PCADV-Footer.jpg") center bottom no-repeat;
 background-color:rgba(255, 255, 255, .8)
}

#Footer p {
 margin:0px;
}
#Footer ul {
 margin:0px;
 margin: 0 0px 10px 0px;
}
#Footer a, #Footer a:visited {
 color:blue;
}
#FinalFooter{
 padding-bottom:90px;
}
#FooterContent{
 text-align: center;
 margin:0px;
 overflow:hidden;
 padding-top:2px; 
 padding-bottom:20px;
 margin-bottom:5px;
}
.FooterLine{
 display:block;
 padding-bottom:80px;
}
.innerFooterContent {
}
.footerLinks{}
.LegalLine{}
.LastUpdated{color:silver;}
 ul.footerLinks{
}
.FooterLine{
 display:block;
}

#M-Street{
 color:#333;
 background:none;
}

.FooterLine{padding:0 2px;}
.LegalLine{padding:0 2px;}
.LastUpdated{font-size:.6em;padding:0 2px;}

li.PrivacyPolicy, li.SiteMap{
 padding:0 10px;
 display:inline;
}




#Cart1{
position:fixed;
top:0px;
right:0px;
padding-right:5px;
padding-top:5px;
}








/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
/* IE7 FIX */
.bjqs-controls { height: 0px; padding: 0px; }
.bjqs-controls li { height: 0px !important; padding: 0px !important; }

/* defaults for navigation */
ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}


#Learn-MorePCADV-PublicationsDefault h4{
 margin-top:10px;
 padding-top:10px;
 border-top:2px dotted #FFF;
}

body.Pledge-To-End-Gender-Violence h1 {
font-family: "Arial Narrow", Arial, sans-serif;
font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
margin:50px 50px 30px 50px;
padding:0 0 30px 0;
border-bottom:1px solid #e2e2e2;
text-align:center;
font-size:6em;
line-height:1em;
color:#666;
text-transform:uppercase;
letter-spacing:4px;
font-weight:normal;
}
body.Pledge-To-End-Gender-Violence h1 small{
display:block;
text-align:center;
line-height:1em;
font-family: georgia, serif;
font-size:1.1em;
color:#333;
font-weight:bolder;
letter-spacing:-4px;
}
body.Pledge-To-End-Gender-Violence h2{
margin:0 0 20px 0;
padding:0;
text-align:center;
font-size:2.5em;
font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
color:#000;
}
body.Pledge-To-End-Gender-Violence li{
color:#666;
padding:0 0 10px 0;
}

body.Pledge-To-End-Gender-Violence a{
text-decoration:none;
color:#01BCCF;
}

body.Pledge-To-End-Gender-Violence #Footer a, body.Pledge-To-End-Gender-Violence #Footer a:visited{
color:#01BCCF;
}

body.Pledge-To-End-Gender-Violence p{
color:#888;
}
body.Pledge-To-End-Gender-Violence li{
color:#888;
}
body.Pledge-To-End-Gender-Violence #TopSide{
margin-top:100px;
}

body.Pledge-To-End-Gender-Violence #TopNav{
display:none;
}
body.Pledge-To-End-Gender-Violence #Footer {
 background:none;
}
body.Pledge-To-End-Gender-Violence #Footer .topLevel{
 background:none;
}
body.Pledge-To-End-Gender-Violence #FinalFooter{
display:none;
}
body.Pledge-To-End-Gender-Violence label{
 color:#666;
}
#SpotID_13996 ol{
 font-size:1.5em;
 font-family:script;
}

body.Pledge-To-End-Gender-Violence #social-share-buttons{
 width:350px;
}
.pcadvPledge{
padding-left:50px;
}
.pcadvPledge .textField {
border-color: #e6e6e6;
color: #999999;
font: 13px/18px Arial, Helvetica, sans-serif;
height: 45px;
width:90%;
}


#SpotID_13998{
padding-top:20px;
width:240px;
}
.emailupdates, .pcar{
color:#666;
}
#emailupdates_updates, #pcar_Subscribe_to_PCAR {
margin-right:5px;
position:relative;
top:2px
}
.warningNew {height:5px}

.pcadvPledge div.fname, .pcadvPledge div.lname{
width:30%;float:left;
}

.pcadvPledge div.authoremail{
display:inline-block;
width:30%;
}

#Pledge-To-End-Gender-ViolencePledges{
background:url(/img/spot/PCADV-scroll-TOP.png) center 70px  no-repeat;
}
#Pledge-To-End-Gender-ViolencePledges h1{
border:0px;
}
#Pledge-To-End-Gender-ViolencePledges #peopleDirectory{
background:url(/img/spot/PCADV-scroll-MIDDLE.png) center repeat-y;
padding-left:170px;
font-size:1.4em;
color:black;
}
#Pledge-To-End-Gender-ViolencePledges #peopleDirectory li{
color:black;
}
#SpotID_13996{
padding-bottom:160px;
background:url(/img/spot/PCADV-scroll-BOTTOM.png) center bottom  no-repeat;
}
#SpotID_13996 p{
text-align:center;
}
#peopleDirectory .selected{
background:#FFF;
font-weight:bold;
font-size:2em;
}

.collapsed-wrapper{
display:block;
}.BackToTop{
 background: url("/img/Arrow-Up.png") right 5px no-repeat ;
 display:block;
 padding-top:10px;
 padding-bottom:10px;
 padding-right:20px;
 text-align:right;
}

.dateBar {
 font-weight:bold;
 border-bottom:1px solid purple;
}

.dateBar {
 font-weight:normal;
 font-size:.85em;
 color:silver;
 border-bottom:0px solid purple;
}
.bjqs-prev, .bjqs-next{
 display:none;
}

h2.Anchor{
 visibility:hidden;
 margin:0px;
 padding:0px;
}
 div.c4{
 text-align: center
}
.D1, .D2{
 float:left; 
 margin:0 10px 10px 0;
}
.D5, .D6{
 float:right;
 margin:0 0px 5px 10px;
}
input[type=text]{
 background:url("/sc/img/blimda/formbg.gif");
}

.ResourceIcon{
 float:left;
 padding-right:10px;
}
.Resource ul li{
 list-style-type:none;
 background: #FFF url("/sc/img/Resources/pdf.gif") left top no-repeat ;
}
.Resource ul li a{
 margin-left:28px;
 color: #0077c0;
}
.Resource ul li a strong{
 font-weight:normal;
}
.Resource ul{
 margin:0px; padding:0px;
 padding-left:10px;
}
.resourceBlock{
clear:left;
padding-bottom:10px;
}
.resourceBlock small{
 font-size:.8em;
}

.resourceBlock ul{
 margin:0px; padding:0px;
}
.resourceBlock ul li {
 list-style-type:none;
}

#breadCrumbs{ background:#FFF; padding-left:20px;padding-top:10px;font-size:.8em; color:purple; padding-bottom:0px;}
#breadCrumbs span {padding:0 5px;}

.Contact-Form-Submitted h2{
 padding:50px;
}

.default-newsletter-class > div {
}

.default-newsletter-class h2 {
    color: #333;
    font-size: 32px;
    line-height: 32px;
    padding: 8px;
}

.default-newsletter-class p {
    padding: 0px;
}

.contactForm {
    margin: 0;
    width: auto;
    vertical-align: top;
}

.contactForm .myNewsletterFormDiv {
    position: relative;
}

.contactForm .myNewsletterFormDiv .warning,
.contactForm .myNewsletterFormDiv .warning + div {
    position: absolute;
}

.contactForm .myNewsletterFormDiv .warning {
    bottom: 20px;
}

.contactForm .myNewsletterFormDiv .warning + div {
    bottom: 0;
    height: 20px;
    line-height: 100%;
}

.contactForm form > strong,
.contactForm form > strong + br {
    display: none;
}

 .contactForm input {
    display: inline-block;
    height: 19px;
    width: 68%;
}

.contactForm .ContactSubmit a {
    background-color: #333;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    width: 28%;
}

.default-newsletter-class .rss-wrapper,
.default-newsletter-class .fb-wrapper,
.default-newsletter-class .twitter-wrapper {
    display: inline-block;
    overflow: hidden;
    padding: 8px;
    width: auto;
}

.default-newsletter-class .rss-wrapper a,
.default-newsletter-class .fb-wrapper a,
.default-newsletter-class .twitter-wrapper a {
    background-position: left center;
    background-repeat: no-repeat;
    color: #333;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding-left: 24px;
    text-decoration: none;
}

.default-newsletter-class .rss-wrapper a {
    background-image: url("/sc/img/backgrounds/common/small-rss-bg.png");
}

.default-newsletter-class .fb-wrapper {
    /*background-image: url("/sc/img/backgrounds/common/small-fb-bg.png");*/
}

.default-newsletter-class .twitter-wrapper a {
    background-image: url("/sc/img/backgrounds/common/small-twitter-bg.png");
}

.default-newsletter-class #fb-root { display: none; }

/*- pagination--------------------------- */




/*--------------------------------------------------------------------------------------------------------------------------------------- */

.EntityDirectory{
 clear:left;
 border-bottom:4px solid #e06367;
 border-top:4px solid #e06367;
}
.EntityRow{
 background:#FFF;
 padding:4px;
 margin:4px;
}

.EntityDirectory h3{
 margin:0px;
 color:#333;
 padding-top:10px;
 margin-top:10px;
 border-top:1px dotted #e06367;
}

.EntityDirectory.styleClass1{
 background:#e2e2e2;
}
.EntityDirectory.styleClass1{
 background:silver;
}
.MemberAddress{
 padding-bottom:10px;
}
/*- CalendarOfEventsMini--------------------------- */

.CalendarOfEventsMini {
 padding:3px;
 border: 3px solid #8e1d2f;
 background:#FFF;
}
.CalendarOfEventsMini {
 font-size:10px;
}

.CalendarOfEventsMini h1 {
color:#782507;
font-size:16px;
}

.CalendarOfEventsMini h4 {
display:inline;
font-size:12px;
padding:0px;
margin:0px;
font-weight:bold;
}
.CalendarOfEventsMini h5.dow {
font-size:10px;
line-height:10px;
padding:0px 0px 0px 0px;
margin:0px;
color:white;
}
.CalendarOfEventsMini h5.dom {
font-size:20px;
margin:0px;
padding:0px 0px 10px 0px;
color:white;
}
.CalendarOfEventsMini p {
margin-top:0px;
}
.eventDate{
 width:50px;
 padding:2px;
 background-color:#7D2E2A;
}
.DateBox{
 text-align:center;
 width:45px;
}
.DateBoxInner{
 font-size:10px;
 background-color:#7D2E2A;
 text-align:center;
}
.eventDescript{
padding-bottom:10px;
line-height:12px;
}
.eventDescript h4{
line-height:16px;
}




.search-form {
padding:25px 0 0px 0;

}
.search-form input {
}

.search-form input[type=text] {
width: 200px;
padding: 5px;
padding-right: 40px;
outline: none;
border: 2px solid #999999;
border-radius: 5px;
background-color: #FBFBFB;
font-family: Cambria, Cochin, Georgia, serif;
font-size: 16px;
background-position: 270px 4px;
background-image: url('/img/search.png');
background-repeat: no-repeat;
}
.search-form input[type=text]:focus {
background-color: #FFFFFF;
border-color: #333333;
box-shadow: 0px 0px 25px -2px #333;
}
.search-form input[type="submit"] { 
	cursor: pointer; 
	width: 100px; 
	padding: 5px 6px 3px 6px; 
	margin-left: 20px; 
	background-color: #f8b838; 
	color: rgba(134, 79, 11, 0.8); 
	text-transform: uppercase; 
	font-weight: bold; 
	border: 1px solid #FFF; 
	 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	 
}




.AddToCart{
 background:#FFF;
 padding:10px;
 margin-bottom:10px;
 border: 3px solid #e2e2e2;
 line-height:2em;
 overflow:hidden;
}
.AddToCartButton{
 clear:left;
 padding-top:5px;
 border: 1px solid #ccc;
}
.AddToCartButton a{
 color:blue;
 font-weight:bold;
}

.AddToCartButton input{
padding:0 2px;
}

.check-out td{
 padding:3px 10px;
}
.makeCorrect{
 font-size:.9em; 
}


.AddToCart .product-title,
.underEdit label,
p.important         { font-weight: bolder; color:#0077c0; }

.AddToCart .product-title,
.underEdit label,
.shipping-info-form label,
.shipping-info-form input#submitShippingInfo { display: block; }

.shipping-info-form .required:after {
    color: red;
    content:" * ";
}

.AddToCartButton { padding: 4px; text-align:right; }
.AddToCartButton a { display: inline-block; }
.AddToCartButton input { 
    margin-left: 8px; 
    text-align: right;
    width: 20px; 
}

.CartTally,
.AddToCartButton a {
    background-repeat: no-repeat;
    padding: 2px 2px 2px 22px;
}

.CartTally { float: right; }

.CartableProduct{
float:left;
padding-right:10px;
}
.product-title{
 font-size:20px;
 padding-bottom:10px;
}

.calTool{
display:none;
}


.calendar-horizontal-wrapper, calendar-horizontal{
 overflow:auto;
 clear:left;
}

.calendar-horizontal-day {
 margin-right:5px;
 overflow:hidden;
 width:50px;
 font-weight:500;
 font-size:.85em;
 text-align:center;
 border:1px dotted silver;
 float:left;
}
.calendar-horizontal-day .month{
 padding:3px 0;
 display:block;
 height:15px;
 background:#e2e2e2;
 font-weight:600;
 text-transform:uppercase;
}
.calendar-horizontal-day .day{
 background:#FFF;
 font-size:1.25em;
 overflow:hidden;
 display:block;
 padding:2px 0;
}
.calendar-horizontal-day .selected{
 background:#e2e2e2;
 font-size:1.25em;
 overflow:hidden;
 display:block;
 padding:2px 0;
}

.calendar-horizontal-day a{
 color:#ce2863;
 text-decoration:none;
}

.calendar-horizontal-wrapper .prev {
 padding:13px 0;
 border:0px;
 font-size:.85em;

}
.calendar-horizontal-wrapper .next {
 border:0px;
 font-size:.85em;
 padding:13px 0;

}
.previewComment p{
 margin-top:0px;
}



.CalendarOfEventsFull {
 clear:left;
 padding:10px 0 0 10px;

}

.dateTable{
 padding:10px;
}

.CalendarOfEventsFull {
 }
.CalendarOfEventsFull .eventLocation{
 clear:left;
 padding:3px;
 margin:5px 0px 10px 0px;
}


.EventPaging .pagingBar{
 margin-top:20px;
 clear:both;
 text-align:center;
}
.EventPaging .SpotPagination{
 margin:0px;
}



.CalendarOfEventsFull img{
 float:left;
 width:150px;
 padding-right:10px;

}
.CalendarOfEventsFull {

 font-size:.9em;
}
.innerMain .detailsInner h3{
margin:0px;
padding:0px;
color:black;
}
.innerMain .detailsInner p{
padding-left:0px;
}

.colDetails{
}
.detailsInner{
 overflow:hidden;
 min-height:60px;
 padding:15px 10px 0px 10px;
 border-top:1px dashed #e2e2e2;
 border-left:0px dashed #e2e2e2;
} 
#eventID0 .detailsInner{
 border-top:0px dashed #e2e2e2;
} 

.colDetails h3{
 font-size:1em;
 margin:0px 0 10px 0;
}
.detailsInner input{
width:100%;
}
.detailsInner textarea{
height:200px;
width:100%;
}
.phone input{
}

.colDate{
 color:#333;
}

.colDate .dateInner{
 border-right:0px dashed #e2e2e2;
 border-top:0px dashed #e2e2e2;
 padding:14px 10px 0px 0px;
 margin-left:10px;
 color:#333;
} 
.colDate{
 border-top:1px dashed #e2e2e2;
}
#eventID0 .colDate{
 border-top:0px dashed #e2e2e2;
} 
.dateInner .today{
 font-weight:bold;
}

.dateTable{
}

.eventLocation .name, .eventLocation .address, .eventLocation .phone{
 padding-top:5px;
 }

.calendarDate{
font-size:1.3em;
border:2px solid #6c2768;
text-transform:uppercase;
text-align:center;
margin-right:10px;
padding:4px;
 font-weight:bold;
float:left;
}
.calendarDay{
 color:#ED2E8E;
 padding: 5px 0 0 0px;
 font-size:.9em;
}
.colDetails h3.eventTitle{
 font-size:1.6em;
}
#CalendarTop{
display:none;
}
.calendarDate span{
 font-size:1.3em;
 display:block;
}
.street{
 display:block;
}
.SpotPagination{
 padding:4px 0;
 background:#eaf3ff;
}

.SpotPagination .col{
 text-align:center;
}

.SpotPagination .col a{
 display:block;
 border:1px solid #4a1a49;
 width:100%;
 height:100%;
 color:#4a1a49;
 text-decoration:none;
 padding:4px 0;
}


.SpotPagination .next a,
.SpotPagination .prev a {
 border:0px solid #4a1a49;
 padding:0px 0;
} 

.SpotPagination .active span{
 display:block;
 border:1px solid #4a1a49;
 width:100%;
 height:100%;
 text-decoration:none;
 padding:4px 0;
 background:#6d9fd0;
 color:#FFF;
 font-weight:bold;
}


.SpotPagination .col a:hover{
 border:solid 1px #4a1a49;
 background:#4a1a49;
 color:#FFF;
}

.SpotPagination .next, .SpotPagination .prev{
 font-weight:bold;
 padding:9px 0 0 0;
 color:#e2e2e2;
}


#PublicSiteMap .Site-Map ul{
padding-left:20px;
}
#PublicSiteMap .Site-Map li{
line-height:1em;
margin:0px 0 5px 0;
}

/* Flexnav Base Styles */
.flexnav {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0; }
  .flexnav.opacity {
    opacity: 0; }
  .flexnav.show {
    max-height: 2000px;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
  .flexnav.one-page {
    position: fixed;
    top: 50px;
    right: 5%;
    max-width: 200px; }
  .flexnav ul  {
        margin:0;
        padding:0;
    }
  .flexnav li {
    font-size: 100%;
    position: relative;
    overflow: hidden; }
  .flexnav li a, .SelectedMenuItem .SelectedSpan {
    position: relative;
    display: block;
    padding: 17px;;
    z-index: 2;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
 text-decoration:none;
}
    
  .flexnav li ul {
    width: 100%; }
    .flexnav li ul li {
      font-size: 100%;
      position: relative;
      overflow: hidden; }
  .flexnav li ul.show li {
    overflow: visible; }
  .flexnav li ul li a, .SelectedMenuItem .SelectedSpan {
    display: block;
    /*background: #b2b2af; */}


.menu-button {
  position: relative;
  display: block;
  padding: 1em;
  background: #a6a6a2;
  color: #222222;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .menu-button.one-page {
    position: fixed;
    top: 0;
    right: 5%;
    padding-right: 45px; }
  .menu-button .touch-button {
    background: transparent;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center; }
    .menu-button .touch-button .navicon {
      font-family: arial;
      font-size: 16px;
      position: relative;
      top: 9px;
      color: #666; }


/*

    navbar style setting

*/

.navBarDiv{
    width: 300px;
}

.flexnav {
    font-size:13px;
    padding-top: 15px;
    }

.flexnav li a, .SelectedMenuItem .SelectedSpan {
    padding: 8px;
    color: rgb(108,39,104);
}
.flexnav li a:hover {
    text-decoration:underline;
}

.touch-button {
    width: 40px;
    height: 33px;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    display: inline-block;
    background: #acaca1;
    background: rgba(100, 100, 240, 0.075);
    text-align: center; 
}
    .touch-button:hover {
          cursor: pointer; 
    }

.navicon {
    top: 9px;
    font-size: 12px;
    color: rgb(196,147,0);
    font-family: arial;
    position: relative;
}

.depth0 {
    background: rgb(255,237,183);
}

.depth1 {
    background: rgb(255,243,206);
}

.depth2 {
    background: rgb(255,250,232);
}

.depth3 {
    background: rgb(255,255,255);
}

.SelectedMenuItem {
    background: rgb(255,229,151);
}

.openClose{
    font-size: 13px;
    float:right;
    padding-right: 5px;
}

#openAll{
    color: #a0a0a0;
}
#openAll:hover {
    cursor:pointer
}

#closeAll{
    color: #a0a0a0;
}
#closeAll:hover {
    cursor:pointer
}


.social-icons-wrapper{
 height:35px;
 text-align:left;
}
.social-icon{
 padding:0 3px;
 display:inline-block;
 float:left;
}#MainNav{
}

#tabsNavigation{
 clear:both;
 font-size:1.4em;
 font-weight:bold;
 text-align:center;
 height:45px;
}
#tabsNavigation ul {
 padding-top:11px;
 margin:0px;
}
#tabsNavigation ul li {
 white-space:nowrap; 
 display: inline;
 border-right:0px solid #000;
 border-left:1px solid #7c2b7a;
 padding:10px 24px;
}

#tabsNavigation ul li .subnav {
 margin-top:5px;
}

#tabsNavigation ul li .subnav li{
 white-space:nowrap; 
 display: block;
 border-right:0px;
 border-left:0px;
 padding:5px 5px;
}
#tabsNavigation ul li.Nav0 {
 border-left:0px;
}
#tabsNavigation ul li.Nav35{
 border-right:0px;
}

#tabsNavigation ul li.LastList {
 padding-right:0px;
 border-right:0px;
}

#tabsNavigation ul li a{
 color:#FFF;
 text-decoration:none;
}
#tabsNavigation ul li .subnav a{
 color:#FFF;
}
#tabsNavigation ul li.SelectedChild a{
 text-decoration:underline;
}
#tabsNavigation ul li.selected, #tabsTopMidNavigation ul li.selected {
 color:#FFF;

}
#tabsNavigation ul li a:hover{
 margin: 0 -20px;
 border:0px;
 padding:5px 20px;
 color:#A39362;
 color:purple;
}
#tabsNavigation ul li .subnav li a:hover{
 margin: 0 0px;
 border:0px;
 padding:0px 0px 0 0;
 color:#A39362;
 color:#FFF;
}

#tabsNavigation ul li .subnav li a:hover{
 color:purple;
}
.Parent-nav li:hover{
 background:#6d9fd0;
}

/* make the LI display inline */
/* it's position relative so that position absolute */
/* can be used in submenu */
.Parent-nav li, li.selected {
    display:block;
    position:relative;
    z-index:500; 
}

/* display block will make the link fill the whole area of LI */
ul.subnav li.selected span{
    display:block;  
    color:#FFF;
}
.Parent-nav ul.subnav a {
    display: block;
    float: none;
    color: #2e2e2e;
}		
.Parent-nav ul.subnav {
	font-size:.73em;
	margin:0px;
	background:#6d9fd0;
    clear: both;
    display: none;
    left: 0;
    list-style: none;
    margin: 0 0 0 -1px;
    overflow: visible;
    position: absolute;
    top: 34px;
    white-space: nowrap;
    z-index: 400;
	width:100%;
	padding:0px;
}
.Parent-nav ul.subnav li {
    text-align: left;
	padding:0px;
	margin:0px;
    display: list-item;
    width: auto;
    float: none;
    overflow: hidden;
	padding-left:10px;
}



/* fix ie6 small issue */
/* we should always avoid using hack like this */
*html .Parent-nav ul {
	margin:0 0 0 -2px;
}

.innerSide .SubPages{
 font-weight:bold;
 font-size:1.1em;
}
.innerSide  ul {
 margin:0px;
}
.innerSide  ul li a, .innerSide li strong, #tabsSide li{
 height:20px;
 border-bottom:1px solid #FFF;
 white-space:nowrap; 
 list-style-type:none;
 line-height:2em;
 color:#d95a31;
 padding:5px 0;
}
#tabsSide ul li a{
 border-bottom:1px solid #FFF;
}
.innerSide  ul li a, .SubPages li a, #tabsSide li a{
 color:#5e9eff;
 text-decoration:none;
}
.innerSide  ul li a:hover, #tabsSide li a:hover{
 color:#d95a31;
}
.innerSide .SubPages ul{
margin-left:0px;
}

li.SiteMap-Sub-Pages{
overflow: hidden;
margin:0px;padding:0px;
}
li.SiteMap-Sub-Pages ul{
margin:0px;padding:0px;
}


/*------------------------------------------------------------------------------------------*/

#tabsBanner{
 height:1%;
 font-size: 1.2em;
}
#tabsBanner ul {
 padding-top: 5px;
 color:#ffe5a2;
 margin:0px 0 10px 0;
}
#tabsBanner ul li {
 padding:0 0 0 20px;
 display: inline;
 white-space: nowrap;
 text-align:right;
}
#tabsBanner ul li a{
 text-decoration:none;
  color:#ffe5a2;
}
#tabsHeader{
 text-transform:uppercase;
}
#tabsHeader ul {
 margin:0px;
 text-align: right;
}
#tabsHeader ul li {
 white-space:nowrap; 
 display: inline;
 border-right:2px solid #999;
 border-left:1px solid #e2e2e2;
 padding:0px 10px 0px 10px;
 font-size:.7em;
 line-height:2em;
}
#tabsHeader ul li.Nav0 {
 padding-left:0px;
 border-left:0px;
}
#tabsHeader ul li.LastList {
 border-right:0px;
 padding-right:0px;
 border-right:0px;
}
#tabsHeader ul li a{
 color:#5e9eff;
 text-decoration:none;
}
#tabsFooterContent ul {
 margin-top:12px;
}
#tabsFooterContent ul li{
 display:inline;
 padding:0 12px;
}



#tabsSideBar{
 font-size:1.4em;
}
#tabsSideBar ul {
 margin:0px 0 0 0;
}
#tabsSideBar ul li {
 padding-bottom:20px;
 list-style-type:none;
}
#tabsSideBar ul li a{
 text-decoration:none;
}




.SpotPagesNav{
 background:#ffe597;

}
.SpotPagesNav .SpotsNavigation li{
 font-size:1.15em;
 list-style-type:none;
 margin:0px;
 padding:0px;
}
.SpotPagesNav .SpotsNavigation{
 padding:10px;
 color:#4a1a49;
}
.SpotPagesNav strong{
 color:#4a1a49;
}

.SpotsNavigation ul {
 margin:0px;padding:0px;
}
.SpotPagesNav .SpotsNavigation ul li {
 padding:10px 0;
 margin:0px;
}
.SubPages li{
 border-bottom:1px solid  #4a1a49;
}
.Sub-Pages{
 margin:0px;
 padding:0px;
}
.Sub-Pages ul .Sub-Pages ul{
 margin-left:0px;
}
.SpotPagesNav .SpotsNavigation ul li.Sub-Pages{
 padding:0px;
 border-bottom:0px solid  #e2e2e2;
}
.SubList li{
 border-bottom:0px solid  #e2e2e2;
}
.SpotPagesNav .SpotsNavigation ul li ul li ul li{
 padding-left:20px;
}
.SpotPagesNav .SpotsNavigation ul li.LastList {
 border-bottom:0px solid  #c43b69;
}
.SpotPagesNav .SpotsNavigation ul li a{
 color:#4a1a49;
 text-decoration:none;
}
.SpotPagesNav .SpotsNavigation ul li.selected, .SpotPagesNav .SpotsNavigation ul li a:hover{
 color:#687baf;
 text-decoration:underline;
}
.MainSectionsNav{
 padding:0 20px;
}
.SectionsNav{
 height:200px;
 width:45.0%;
 float:left;
}
ul.SubPages li{
}
.Sub-Pages ul.depth4, .Sub-Pages ul.depth4on{
 padding-left:0px;
 border-top:2px solid #e2e2e2;
 background:#fff1c9;
 padding-bottom:10px;
}
.SpotsNavigation ul.depth4 li, .SpotsNavigation ul.depth4on li{
 font-size:.90em;
 padding:6px 0;
 text-transform:none;
}