<!-- Header-->

     <div class="below-slideshow">
          <div class="container" style="max-height: 95px;">
         <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <div class="txt-block">
<!--                   <h1 class="head-line">{{ headline }}</h1>
 -->                       </div>
             </div>
         </div>

     </div>
     </div>
     <!-- BELOW SLIDESHOW SECTION END-->

     <div class="container">
       <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="tag-home">{{ subtitle }}</h1>
              <hr />
           </div>
      </div>
    </div>
    
    <!-- TAG HOME SECTION END-->


    <div class="just-sec">


        <div class="container">

        <div class="row">
         <h1 class="head-line">{{ headline }}</h1>

        <div class="profiles">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="just-txt-div">
              <img src="assets/img/t1.jpg" alt="" class="img-circle set-about-img" style="text-align:center"  />
									<h2> {{ personOne }} </h2>
									<p> {{ descriptionOne }} </p>
             </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               <div class="just-txt-div">

              <img src="assets/img/t2.jpg" alt="" class="img-circle set-about-img" style="text-align:center" />
									<h2> {{ personTwo }}  </h2>
<!-- 									<p> {{ descriptionTwo }}</p>
 -->                      </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               <div class="just-txt-div">

              <img src="assets/img/t3.jpg" alt="" class="img-circle set-about-img" style="text-align:center, width:90px;" />
									<h2> {{ personThree }}  </h2>
<!-- 									<p> {{ descriptionThree}} </p>
 -->                      </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        
 <div class="box">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div style="text-align:right;padding-top:185px; color:white">
                    &copy;2017  Cornell Tech <a href="http://www.binarytheme.com/" style="color:#fff;" target="_blank" > </a>
                </div>
            </div>
    </div>
   
     <!--FOOTER SECTION END-->
      <!-- WE PUT SCRIPTS AT THE END TO LOAD PAGE FASTER-->

  <!--CORE SCRIPTS PLUGIN-->
    <script src="assets/js/jquery-1.11.1.min.js"></script>
     <!--BOOTSTRAP SCRIPTS PLUGIN-->
    <script src="assets/js/bootstrap.js"></script>
     <!--WOW SCRIPTS PLUGIN-->
    <script src="assets/js/wow.js"></script>
     <!--FLEXSLIDER SCRIPTS PLUGIN-->
    <script src="assets/js/jquery.flexslider.js"></script>
     <!--PRETTY PHOTO FOR GALLERY -->
    <script src="assets/js/jquery.prettyPhoto.js"></script>
     <!--PHOTO FILTER -->
    <script src="assets/js/jquery.mixitup.min.js"></script>
     <!--CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
