<!-- <div class="below-slideshow">
<div class="container">
<div class="row">
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="txt-block">
        <h2 class = "head-line">Already have an account? <button type="submit" onclick="{location.href='login.html'}" class="btn btn-success btn-lg">LOGIN </button></h2> -->
          <!-- <h1 class="head-line">Contact Us Now</h1> -->
          
<!--               </div>
    </div>
</div>
</div>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <h1 class="tag-home"> <strong>Create your account</strong> </h1> 
         <hr />
        </div>
   </div>
</div> -->


    <div class="below-slideshow">
         <div class="container">
        <div class="row">
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="txt-block">
                <h2>{{ header }} <button type="submit" onclick="{location.href='login.html'}" class="btn btn-success btn-lg">LOGIN </button></h2>
                  <!-- <h1 class="head-line">Contact Us Now</h1> -->
                  
                      </div>
            </div>
        </div>

    </div>
    </div>
    <!-- BELOW SLIDESHOW SECTION END-->
      <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <h1 class="tag-home"> <strong>{{ subtitle }}</strong> </h1> 
               <hr />
                 </div>
            </div>
          </div>

<div class="just-sec">
<div class="container" >
<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-12 set-div">
<div class="just-txt-div" ng-controller='authController'>
<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()">
<!--   <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div> -->
  <div class="form-group">
    <label>{{ usernm }}</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control">
  </div>
  <div class="form-group">
    <label>{{ passwrd }}</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control">
  </div>
  <div class="form-group">
    <label>{{ mail }}</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control" >
  </div>
  <div class= "form-group">
    <label>{{phonenum}}</label>
    <input type="text" [(ngModel)] = "phone" name="phone" class="form-control">
    </div>
  <!-- <div class="form-group">
    <label>Phone Number</label>
    <input type="text" [(ngModel)]="user.phone" name="phone" class="form-control">
</div> -->
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
          </div>
            </div>
            
        </div>
             
    </div>

 <!--  <div class="footer-sec">
    <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
             <h3> <strong>ABOUT COMPANY</strong> </h3> -->
              <!-- <p style="padding-right:50px;" >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
              </p> -->
        <!-- </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 social-div">
                <h3> <strong>SOCIAL PRESENCE</strong> </h3> -->
           <!--  We love to be social,Catch Us On
            <a href="#" ><h4>FACEBOOK </h4></a>
               <a href="#" ><h4>TWITTER </h4></a>
             <a href="#" ><h4>LINKEDIN </h4></a>
               -->
                
<!--         </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3> <strong>PHYSICAL LOCATION</strong> </h3> -->
           <!--  Reach Us Below:
            <br />
            <h4>90/567, Raw Street Lane,</h4>
             <h4>United States of America,</h4>
             <h4>Pin: 309987-09</h4>
        </div> -->
    <!-- </div>
 <div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <hr />
    <div style="text-align:right;padding:5px;">
        &copy;2017  Cornell Tech <a href="http://www.binarytheme.com/" style="color:#fff;" target="_blank" > </a>
    </div>
</div>
    </div>
    </div>
       </div>
 -->