<app-navbar></app-navbar>
<!-- <app-service-offered></app-service-offered> -->
<div class="container" >
	<flash-messages></flash-messages>
	<router-outlet></router-outlet>
</div>

<!-- 
<div class="lightbox">
  <div class="iframeContainer">
      <div class="toolbarLB">

      <span class="closeLB" (click)="lightBoxClose()"><h1>x</h1></span>

    <body> If at any moment you feel unsafe being on this website,
    	<br> you can click the <strong>Escape</strong> button at the far right of 
    	<br> this website. Hitting the escape key will
    	<br> open a new tab and replace the one you are currently on. </body>
    </div>

    <iframe width="500" height="287" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
    allowTransparency="true"></iframe>
  </div>
</div> -->