<!-- <div id="slideshow-sec"> -->
        <div id="carousel-div" class="carousel slide" data-ride="carousel" >

                    <div class="carousel-inner">
                        <div class="item active">

              <img src="../../../assets/img/tt2.jpg" alt="" />

          </div>

            </div>
            </div>
            <h1> {{ caption }} </h1>
          
      
                   
<br>
<div class="below-slideshow">
         <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="txt-block">
                  <i class="fa fa-users fa-4x"></i>
                    <h4> {{ subCaptionOne }} </h4>
                    <p> {{ detailOne }} </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="txt-block">
                <i class="fa fa-home fa-4x"></i>
                  <h4> {{ subCaptionTwo }} </h4>
                  <p> {{ detailTwo }} </p>
                      </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="txt-block">

<!-- <<<<<<< HEAD -->
              
                <i class="fa fa-gittip fa-4x"></i>
<!-- ======= -->

                <i class="fa fa-gtip fa-4x"></i>
<!-- >>>>>>> origin/master -->
                  <h4> {{ subCaptionThree }} </h4>
                  <p> {{ detailThree }} </p>
                </div>
            </div>
        </div>
       </div>
    </div>


 <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
                <div style="text-align:right;padding:5px;">
                    &copy;2017  Cornell Tech <a href="http://www.binarytheme.com/" style="color:#fff;" target="_blank" > </a>
                </div>
            </div>
    </div>
      
   
     <!--FOOTER SECTION END-->
      <!-- WE PUT SCRIPTS AT THE END TO LOAD PAGE FASTER-->

	<!--POP-up SCRIPTS PLUGIN-->
	<script src="js/angular.min.js"></script>
	<!-- Include UI Bootstrap library -->
	<script src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
	<!-- Include Bootstrap CSS CDN link -->
	<script src="assets/js/jquery-1.11.1.min.js"></script>
    <!--BOOTSTRAP SCRIPTS PLUGIN-->
    <script src="assets/js/bootstrap.js"></script>
     <!--WOW SCRIPTS PLUGIN-->
    <script src="assets/js/wow.js"></script>
     <!--FLEXSLIDER SCRIPTS PLUGIN-->
    <script src="assets/js/jquery.flexslider.js"></script>
     <!--PRETTY PHOTO FOR GALLERY -->
    <script src="assets/js/jquery.prettyPhoto.js"></script>
     <!--PHOTO FILTER -->
    <script src="assets/js/jquery.mixitup.min.js"></script>
     <!--CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    <!-- JS script -->
    <script src="home.js"></script>
    <!-- referencce to angular -->
    <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	
