<div class="jumbotron text-center">
  <h1>OCDV</h1>
  <p class="lead">Welcome to Family Justice Center</p>
  <div>
    <!-- <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a> -->
  </div>
</div>

 <div id="slideshow-sec">
        <div id="carousel-div" class="carousel slide" data-ride="carousel" >

                    <div class="carousel-inner">
                        <div class="item active">

                            <img src="../../../assets/img/tt1.png" alt="" />
                            <div class="carousel-caption">
                          <h1 class="wow slideInLeft" data-wow-duration="2s" > Stop Domestic Violence</h1>
                                 <!-- <h2 class="wow slideInRight" data-wow-duration="2s" >Muti Purpose Use</h2>   -->
                            </div>

                        </div>
                        <div class="item">
                            <img src="../../../assets/img/tt2.jpg" alt="" />
                            <div class="carousel-caption">
                          <h1 class="wow slideInLeft" data-wow-duration="2s" >Fight against Domestic Violence</h1>
                                 <!-- <h2 class="wow slideInRight" data-wow-duration="2s" >Bootstrap 3.2</h2>   -->
                            </div>
                        </div>
                        <div class="item">
                            <img src="../../../assets/img/tt3.jpg" alt="" />
                            <div class="carousel-caption"><h1 class="wow slideInLeft" data-wow-duration="2s" >We Need a Peaceful Family </h1>
                                 <!-- <h2 class="wow slideInRight" data-wow-duration="2s" >Free To Download</h2>   -->
                            </div>

                        </div>
                    </div>
                    <!--INDICATORS-->
                     <ol class="carousel-indicators">
                        <li data-target="#carousel-div" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-div" data-slide-to="1"></li>
                        <li data-target="#carousel-div" data-slide-to="2"></li>
                    </ol>
                    <!--PREVIUS-NEXT BUTTONS-->
                     <a class="left carousel-control" href="#carousel-div" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-div" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
    </div>
    </div>
  <br>
<div class="row">
  <div class="col-md-4">
    <h3>Your Virtual Ally</h3>
    <p>At the click of a button, get answers to all of your questions, tips on how to safely use technology, and information on the resources available to you.</p>
  </div>
  <div class="col-md-4">
    <h3>Your Safe Harbor</h3>
    <p>Services are free and available to all victims. You can get help regardless of your immigration status or the language you speak.</p>
  </div>
  <div class="col-md-4">
    <h3>Walk-ins Welcome</h3>
    <p>Our door is always open for you,no appointment necessary. When you feel ready, simply walk in anytime, Monday through Friday, between 9:00 a.m. - 5:00 p.m.</p>
  </div>
</div>