<div class="fling-minislide">
  <img src="../../../assets/img/tour/extra/frontDesk.jpg" alt="Slide 4" style='height: 100%; width: 100%; object-fit: contain'/>
  <img src="../../../assets/img/tour/brooklyn.jpg" alt="Slide 3" style='height: 100%; width: 100%; object-fit: contain'/>
  <img src="../../../assets/img/tour/queens.jpg" alt="Slide 2" style='height: 100%; width: 100%; object-fit: contain'/>
  <img src="../../../assets/img/tour/staten_island.jpg" alt="Slide 1" style='height: 100%; width: 100%; object-fit: contain' />
</div>
 


<!-- 
<div class="slider-holder">
        <span id="slider-image-1"></span>
        <span id="slider-image-2"></span>
        <span id="slider-image-3"></span>
        <div class="image-holder">
            <img src="../../../assets/img/1.jpg" class="slider-image-1" />
            <img src="../../../assets/img/1.jpg" class="slider-image-2" />
            <img src="../../../assets/img/1.jpg" class="slider-image-3" />
        </div>
        <div class="button-holder">
            <a href="#slider-image-1" class="slider-change"></a>
            <a href="#slider-image-2" class="slider-change"></a>
            <a href="#slider-image-3" class="slider-change"></a>
        </div>
    </div> -->

<!--       




  <div id="carousel-div" class="carousel slide" data-ride="carousel" >

                    <div class="carousel-inner">
                        <div class="item active">

              <img src="../../../assets/img/1.jpg" alt=""  height=100%; width=auto; />

          </div>

            </div>
            </div> -->
            <h1> {{ caption }} </h1>
          
      
                   
<br>
         <div class="container">
<!--                 <div class="txt-block">

 -->  
                    <div class="row grid-divider">
                    <div class="col-sm-4">
                      <div class="col-padding">     
<!--                  <i class="fa fa-users fa-4x"></i>
 -->                  <img class = "services-icon" src = "../../../assets/img/ipad.jpg" width= 90px>
                    <h4> {{ subCaptionOne }} </h4>
                    <p> {{ detailOne }} </p>
                </div>
                </div>

                    <div class="col-sm-4">
                      <div class="col-padding"> 
<!--                 <i class="fa fa-home fa-4x"></i>
 -->                 <img class ="services-icon" src = "../../../assets/img/hand.png" width= 90px >
                  <h4> {{ subCaptionTwo }} </h4>
                  <p> {{ detailTwo }} </p>
                </div>
                </div>

                    <div class="col-sm-4">
                      <div class="col-padding">             
<!--                 <i class="fa fa-gtip fa-4x"></i>
 -->                 <img class ="services-icon" src = "../../../assets/img/welcome.png" width= 90px >
                  <h4> {{ subCaptionThree }} </h4>
                  <p> {{ detailThree }} </p>
                </div>
            </div>
            </div>
            </div>
       


 <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
                <div style="text-align:right;padding:5px;">
                    &copy;2017  Cornell Tech <a href="http://www.binarytheme.com/" style="color:#fff;" target="_blank" > </a>
                </div>
            </div>
    </div>

     <!--FOOTER SECTION END-->
      <!-- WE PUT SCRIPTS AT THE END TO LOAD PAGE FASTER-->
     <script src= "angular-carousel.css"></script>
    <script src="angular.js"></script>
    <script src="angular-touch.js"></script>
    <script src="angular-carousel.js"></script>
    <!--POP-up SCRIPTS PLUGIN-->
    <script src="js/angular.min.js"></script>
    <!-- Include UI Bootstrap library -->
    <script src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <!-- Include Bootstrap CSS CDN link -->
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <!--BOOTSTRAP SCRIPTS PLUGIN-->
    <script src="assets/js/bootstrap.js"></script>
     <!--WOW SCRIPTS PLUGIN-->
    <script src="assets/js/wow.js"></script>
     <!--FLEXSLIDER SCRIPTS PLUGIN-->
    <script src="assets/js/jquery.flexslider.js"></script>
     <!--PRETTY PHOTO FOR GALLERY -->
    <script src="assets/js/jquery.prettyPhoto.js"></script>
     <!--PHOTO FILTER -->
    <script src="assets/js/jquery.mixitup.min.js"></script>
     <!--CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    <!-- JS script -->
    <script src="home/home.js"></script>
    <!-- referencce to angular -->
    <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  