<nav class="navbar navbar-default">
      <div class = "container" ng-controller = "MainController">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        




        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/']"> {{ home }} </a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['service_offered']"> {{ srvo }} </a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['tour']"> {{ fjc }} </a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['tips']"> {{ tech }} </a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['testimonial']"> {{ test }} </a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['prepare']"> {{ prepare }} </a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['faq']"> {{ faq }} </a></li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['dashboard']"
            >{{ dashboard }}</a></li>
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['profile']"
            >{{ profile }}</a></li>

            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['login']"
            >{{ login }}</a></li>
            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['register']"
            >{{ register }}</a></li>
            <!-- new button-->
          <!--   <li><button type= "button" ng-click="exit();" class= "btn btn-link"> Escape_2</button></li> -->
            <li> <a id = escape  target= "Escape"  (click)= "exit()" >{{ escape }}</a></li>

             <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="#">{{ logout }}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>

<!-- referencce to angular -->
<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!-- referencce to source file, where modules are defined -->
<script src= "navbar.js"></script>