<div class= shadow>
<div class="container " >
             <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-12 set-div">
                <div class="just-txt-div text-align">
                    <h3><strong> {{ titleOne }} </strong> </h3>
                    <p>  {{ boxOne }} <br /><br /></p>

                     <!-- beautiful button -->
                      <!-- <a class="btn btn-info btn-lg" href="#">Read More Here</a> -->
                    <!-- &nbsp;&nbsp; -->
                    <!-- <a class="btn btn-success btn-lg" href="#">Download Now </a> -->
                </div>

                </div>
            </div>
         </div>
         </div>
          <br>
           <br>
            <br>
                   

         <div class="container " >
             <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-12 set-div">
                <div class="just-txt-div text-align">
                    <h3><strong> {{ titleTwo }} </strong> </h3>
                    <p> {{ boxTwo }} <br /><br /></p>

                     <!-- beautiful button -->
                      <!-- <a class="btn btn-info btn-lg" href="#">Read More Here</a> -->
                    <!-- &nbsp;&nbsp; -->
                    <!-- <a class="btn btn-success btn-lg" href="#">Download Now </a> -->
                </div>

                </div>
            </div>
         </div>
         <br>
           <br>
            <br>

          <div class="container " >
             <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-12 set-div">
                <div class="just-txt-div text-align">
                    <h3><strong> {{ titleThree }} </strong> </h3>
                     <p> {{ boxThree }} <br /><br /></p>
                  <p> {{ boxThree_2 }} <br /><br /></p>
                </div>

                </div>
            </div>
         </div>
         <br>
           <br>
            <br>

          <div class="container " >
             <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-12 set-div">
                <div class="just-txt-div text-align">
                    <h3><strong> {{ titleFour }} </strong> </h3>
                     <p><br /> {{ boxFour }} <br /></p>

                     <!-- beautiful button -->
                      <!-- <a class="btn btn-info btn-lg" href="#">Read More Here</a> -->
                    <!-- &nbsp;&nbsp; -->
                    <!-- <a class="btn btn-success btn-lg" href="#">Download Now </a> -->
                </div>
                </div>
            </div>
         </div>

 <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
                <div style="text-align:right;padding:5px;">
                    &copy;2017  Cornell Tech <a href="http://www.binarytheme.com/" style="color:#fff;" target="_blank" > </a>
                </div>
            </div>
    </div>
     <!--FOOTER SECTION END-->
      <!-- WE PUT SCRIPTS AT THE END TO LOAD PAGE FASTER-->

  <!--CORE SCRIPTS PLUGIN-->
    <script src="assets/js/jquery-1.11.1.min.js"></script>
     <!--BOOTSTRAP SCRIPTS PLUGIN-->
    <script src="assets/js/bootstrap.js"></script>
     <!--WOW SCRIPTS PLUGIN-->
    <script src="assets/js/wow.js"></script>
     <!--FLEXSLIDER SCRIPTS PLUGIN-->
    <script src="assets/js/jquery.flexslider.js"></script>
     <!--PRETTY PHOTO FOR GALLERY -->
    <script src="assets/js/jquery.prettyPhoto.js"></script>
     <!--PHOTO FILTER -->
    <script src="assets/js/jquery.mixitup.min.js"></script>
     <!--CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>